@{
    ViewBag.Title = "Acerca de nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="jumbotron" style="background-color: #222222; margin-top: 3em;">
    <p style="font-size: medium">¡Bienvenido a Go-Gaming! Aquí podrás encontrar comunidades de tus videojuegos favoritos. Disfruta de la experiencia.</p>
</div>

@*<div align="center">
    <br />
    <img height="300" width="300" src="~/Images/logo.png" />

</div>*@
