@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<br />

<address>
    <div class="jumbotron center-block" style="background-color: #222222 ">
        <strong>Carlos Izquierdo López (Scrum Master): </strong>cil4@gcloud.ua.es<br />
        <strong>Candela Utrero Romero-Hombrebueno: </strong>curh1@gcloud.ua.es<br />
        <strong>Sergio Miedes García: </strong>smg163@gcloud.ua.es<br />
        <strong>Jorge Reig Valera: </strong>jrv37@gcloud.ua.es<br />
        <strong>Sara Morote Baños: </strong>smb86@gcloud.ua.es<br />
    </div>
</address>