@model IEnumerable<GoGaming.Models.ComentarioViewModel>



@foreach (var item in Model)
{
    <div class="card w-50 jumbotron" style="background-color: #222222;">
        <div style=" margin-top:0; cursor: pointer;" onclick="window.location = '/Comentario/Details/'+@item.Id;">
            <h4 class="card-subtitle mb-2 text-muted"><i>@Html.ActionLink(item.nameAutor, "../Usuario/Details/", new { id = item.Autor })</i></h4>
            <h4 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Hora)</h4>
            <p style="margin-top:1.5em; font-size: medium" ;>@Html.DisplayFor(modelItem => item.Contenido)</p>
            <h4 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Hijos) respuestas</h4>
        </div>
    </div>
}

@if ((int)Model.Count() == 0)
{
    <div class="card w-50 jumbotron" style="background-color: #222222;"><p>No hay ningún comentario todavia</p></div>
}